alembic==0.9.9
Flask==1.0.2
Flask_Login==0.4.1
Flask_Migrate==2.1.1
Flask_SQLAlchemy==2.3.2
Flask_WTF==0.14.2
Pillow<=9.0.1
setuptools==58.0.4
SQLAlchemy==1.2.6
Werkzeug==0.14.1
WTForms==2.1
pytest==6.2.2
-e .
