<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Company Blog</title>
  </head>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
  <body class = "bg-dark" style="--bs-bg-opacity: .9;" >
    <ul class = 'nav nav-dark bg-dark'>
      <li class = 'nav-link'><a href="{{url_for('core.index')}}"  style="text-decoration:none" class="fw-bold bg-danger badge fs-6">Home</a></li>
      <!-- 'core.index' because we are referring that file using 'core' blueprint -->
      <li class = 'nav-link'><a href="{{url_for('core.info')}}" style="text-decoration:none" class="fw-bold bg-danger badge fs-6">About</a></li>

      {% if current_user.is_authenticated %}

      <li class = 'nav-link'><a  href="{{url_for('users.account')}}" style="text-decoration:none" class="fw-bold bg-danger badge fs-6">Account</a></li>
      <li class = 'nav-link'><a href="{{url_for('blog_posts.create_post')}}" style="text-decoration:none" class="fw-bold bg-danger badge fs-6">Create Post</a></li>
      <li class = 'nav-link'><a href="{{url_for('users.logout')}}" style="text-decoration:none" class="fw-bold bg-danger badge fs-6">Log Out</a></li>
      {% else %}
      <li class = 'nav-link'><a href="{{url_for('users.register')}}" style="text-decoration:none" class="fw-bold bg-danger badge fs-6">Register</a></li>
      <li class = 'nav-link'><a href="{{url_for('users.login')}}" style="text-decoration:none" class="fw-bold bg-danger badge fs-6">Log In</a></li>
      {% endif %}
    </ul>
    <div class="container-fluid">
      <p></p>
      <div class="container-fluid bg-dark text-light p-5">
      {% block content %}

      {% endblock %}
      </div>
    </div>
  </body>
</html>
